/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require toastr
 *= require_self
 */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin scale-iframe($scale) {
    -moz-transform: scale($scale);
    //-moz-transform-origin: $x $y;
    -o-transform: scale($scale);
    //-o-transform-origin: $x $y;
    -webkit-transform: scale($scale);
    //-webkit-transform-origin: $x $y;
    transform: scale($scale);
    //transform-origin: $x $y;
}

 .login-container {
   padding: 10px;
   border: 1px darkgrey solid;
   @include border-radius(5px);
   button {
     margin: 10px 10px;
   }
   .form-control {
     padding: 5px;
     margin: 5px 0px;
   }
 }

.magna-carta {
  .cart {
    border: 1px black solid;
  }
  .focused {
    border: 5px red solid !important;
  }
  .eagle-video-player {
    text-align: center;
    margin: 0px 10px;

    .start-end-labels {
      text-align: center;
      margin-top: 10px;
      .scoreboard {
        font-family: "Orbitron";
      }
    }

    iframe {
      width: 100%;
      height: 800px;
      border: 1px black solid;
      @include scale-iframe(0.75);
    }
  }
}
